<div class="container">
    <div  class="row">
          <mat-toolbar color="primary" >    
            <span>Registra empleado</span>    
          </mat-toolbar>  
    </div>
    <div  class="row">
            <mat-form-field class="col-md-4 mt-4">
              <mat-label>Nombre</mat-label>
              <input  matInput [(ngModel)] ="objEmpleado.nombres" >
            </mat-form-field>

            <div class="col-md-4 mt-1">
              <label for="fnac" style="font-size: 12px;">Fecha de nacimiento</label>
              <input type="date" class="form-control form-control-lg" [(ngModel)] ="objEmpleado.fechaNacimiento" id="fnac" style="background: #EEEEEE;border: none;">
            </div>
            

            <mat-form-field class="col-md-4 mt-4">
                <mat-label>Deporte</mat-label>
                <mat-select [(ngModel)] ="objEmpleado.pais!.idPais">
                  <mat-option value="-1"> [Seleccione] </mat-option>
                  <ng-container *ngFor="let x of lstPaises">
                    <mat-option value="{{x.idPais}}">{{x.nombre}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field> 

     </div>   
     
      <div  class="row">
            <button mat-raised-button type="submit" color="primary" (click)="registrar()" >Registra</button>
      </div>
</div>